.main-site__rent {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

//rent-content
.rent-content {
  @media (min-width: $tablet-width-l) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
    "img header"
    "img lead"
    "img link"
    "img ."
    "text text";
    column-gap: 20px;
  }
  @media (min-width: $laptop-width-l) {
    grid-template-areas:
    "img header"
    "img lead"
    "img link"
    "img text"
    "img .";
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;
  }
}

.rent-content__heading-box {
  @media (min-width: $tablet-width-l) {
    grid-area: header;
  }

  @media (min-width: $laptop-width-l) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 29px;
  }
}

.rent-content__heading {
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: $tablet-width-l) {
    margin: 0;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 59px;
  }
}

.rent-content__lead-box {
  margin-bottom: 25px;

  @media (min-width: $tablet-width-l) {
    grid-area: lead;
    margin-bottom: 0;
  }

  @media (min-width: $laptop-width-l) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
    padding-left: 30px;
  }
}

.rent-content__lead {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $laptop-width-l) {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
}

.rent-content__link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;

  @media (min-width: $tablet-width-l) {
    grid-area: link;
    justify-content: flex-start;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
    padding-left: 30px;
  }
}

.rent-content__presentation {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
  line-height: 29px;
  color: inherit ;
  text-decoration: none;

  svg {
    flex: none;
  }
}

//rent-content__advantages
.rent-content__advantages {
  margin-bottom: 25px;

  @media (min-width: $tablet-width-l) {
    grid-area: text;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 30px;
  }
}

.advantages__list {

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 35px;
    padding-left: 13px;
    list-style: none;
  }
}

.advantages__lead {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $laptop-width-l) {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;

  }
}

.advantages__item {
  &::marker {
    color: var(--basic-red--500);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 14px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -14px;
      width: 6px;
      height: 6px;
      background-color: var(--basic-red--500);
      border-radius: 50%;
    }
  }
}

.advantages__text {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.advantages__small-text {
  font-size: 12px;
  line-height: 15px;

  @media (min-width: $tablet-width-l) {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
}

.rent-content__images {
  margin: 0;

  @media (min-width: $tablet-width-l) {
    grid-area: img;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-left: 2px;
  }
}

.rent-content__img {
  display: block;
}
