.space-content {
  @media (min-width: $tablet-width-l) {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "text img0 img0"
    ". img0 img0"
    "img1 img1 img1"
    "img2 img3 img4";
    gap: 20px 20px
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: none;

    .space-content__meta {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }
  }

  @media (min-width: $laptop-width-l) {
    gap: 40px 30px;
  }
}

//space-content__meta
.space-content__meta {
  margin: 0;
}

.meta-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  row-gap: 20px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width-l) {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  @media (min-width: $laptop-width-l) {
    gap: 0;
    padding-top: 29px;
    padding-left: 6px;
  }
}

.meta-content__text-box:not(:last-child) {
  @media (min-width: $laptop-width-l) {
    margin-bottom: 30px;
  }
}

.meta-content__term {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-grey--500);
  text-align: center;

  @media (min-width: $tablet-width-l) {
    text-align: left;
  }

  @media (min-width: $laptop-width-l) {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
}

.meta-content__definition {
  margin: 0;
  font-size: 26px;
  line-height: 34px;
  font-weight: bold;
  color: var(--basic-black);
  text-align: center;

  @media (min-width: $tablet-width-l) {
    text-align: left;
  }

  @media (min-width: $laptop-width-l) {
    font-size: 36px;
    line-height: 44px;
  }
}

.space-content__image {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0 0 58% 0;
  overflow: hidden;
  box-sizing: border-box;

  @media (min-width: $tablet-width-l) {
    margin-bottom: 0;

    &--mdfElem0 {
      grid-area: img0;
    }

    &--mdfElem1 {
      grid-area: img1;
    }

    &--mdfElem2 {
      grid-area: img2;
    }

    &--mdfElem3 {
      grid-area: img3;
    }

    &--mdfElem4 {
      grid-area: img4;
    }
  }

  @media (min-width: $laptop-width) {
    padding: 0;

    &--mdfElem0 {
      grid-row: 1 / 3;
      grid-column: 3 / 7;
      height: 360px;
    }

    &--mdfElem1 {
      grid-row: 1 / 3;
      grid-column: 7 / -1;
      height: 360px;
    }

    &--mdfElem2 {
      grid-row: 3 / -1;
      grid-column: 1 / 4;
      height: 360px;
    }

    &--mdfElem3 {
      grid-row: 3 / -1;
      grid-column: 4 / 8;
      height: 360px;
    }

    &--mdfElem4 {
      grid-row: 3 / -1;
      grid-column: 8  / -1;
      height: 360px;
    }
  }

  @media (min-width: $laptop-width-l) {

    &--mdfElem0 {
      height: 508px;

    }

    &--mdfElem1 {
      height: 508px;
    }

    &--mdfElem2 {
      height: 359px;
    }

    &--mdfElem3 {
      height: 359px;
    }

    &--mdfElem4 {
      height: 359px;
    }
  }
}

.space-content__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
