.tenants-content {
  display: grid;
  grid-template-rows: min-content min-content;
  margin-bottom: 48px;

  @media (min-width: $laptop-width-l) {
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, min-content);
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 32px;
  }
}

//tenants-content__title-box
.tenants-content__title-box {
  margin-bottom: 36px;

  @media (min-width: $tablet-width-l) {
    margin-bottom: 52px;
  }

  @media (min-width: $laptop-width-l) {
    // grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    padding-left: 4px;
    margin-bottom: 28px;
  }
}

.tenants-content__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width-l) {
    margin: 0;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 59px;
  }
}

//tenants-content__slider
.slider-tenants {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  row-gap: 20px;

  @media (min-width: $laptop-width-l) {
    justify-content: start;
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 27px;
  }
}

.slider-tenants__list {
  display: grid;
  grid-template-rows: min-content;

  @media (min-width: $mobile-width) {
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
  }

  @media (min-width: $mobile-width-l) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    column-gap: 15px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 45px;
  }
}

//slider working
.slider__item {
  display: none;

  &--mdfElem0 {
    display: block;
  }

  @media (min-width: $mobile-width) {
    &--mdfElem1 {
      display: block;
    }
  }

  @media (min-width: $mobile-width-l) {
    display: block;
  }
}

.slider-tenants__image {
  margin: 0;
}

.slider-tenants__img {
  display: block;
}

//slider-tenants__buttons
.slider-tenants__buttons {
  display: grid;
  grid-template-columns: 41px 60px 41px;
  grid-template-rows: min-content;
  column-gap: 8px;
  justify-content: center;
}

.slider-tenants__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &--next {
    transform: rotate(180deg);
  }
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.carousel__item {
  width: 6px;
  height: 6px;
  background-color: var(--basic-grey--400);
  border-radius: 50%;

  &--current {
    width: 9px;
    height: 9px;
    background-color: var(--basic-grey--500);
  }
}

//tenants-content__list
.tenants-content__list {
  @media (min-width: $laptop-width-l) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 13px;
    list-style: none;
  }
}

.tenants-content__item {
  &::marker {
    color: var(--basic-red--500);
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -14px;
      width: 6px;
      height: 6px;
      background-color: var(--basic-red--500);
      border-radius: 50%;
    }
  }
}

.tenants-content__text {
  @media (min-width: $laptop-width-l) {
    margin: 0 0 14px 0;
  }
}
