@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri.woff2"), url("../fonts/Calibri.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri-Bold.woff2"), url("../fonts/Calibri-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
